h1{
    font-family: Arial;
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-weight: normal;
    
}
body{
    display: grid;
    grid-template:
    "a"
    "b"
    "c"
    "d";
    justify-content: center;
    background: #f5f5f5;
    color: #4d4d4d;
    
}
h1{
    text-align: center;
    grid-area: a;
}
header{

    grid-area: b;
    margin: auto;
    width: 100%;
    padding: 10px;
    
}
main{
    margin: auto;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
    box-shadow: 7px 10px 100px 5px lightgrey;
    grid-area: c;
    
}
main footer{
    grid-area: c;
}
#todofooter{
	word-break: break-all;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
    border: 0.5px solid green;
}
#filter{
    
    list-style-type:none;
    display:flex;
}

#info{
    grid-area: d;
}
#todo{
    list-style-type:none;
	word-break: break-all;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
    border: 0.6px solid green;
    padding: 0px;
}

#input{
    border:solid transparent;
    background: #f5f5f5;
}
button{
    background:transparent;
    border:solid transparent;
}
#inputarea{
    border: 2px solid green;
}
