h1{
    font-family: Arial;
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-weight: normal;
    text-align: center;
    grid-area: a;
    
}
body{
    display: grid;
    grid-template:
    "a"
    "b"
    "c"
    "d";
    justify-content: center;
    background: #f5f5f5;
    color: #4d4d4d;
}

header{

    grid-area: b;
    margin: auto;
    width: 100%;
    
}
main{
    margin: auto;
    width: 550px;

    border: 1px;
    box-shadow: 7px 10px 100px 5px lightgray;
    grid-area: c;
    border: 1px solid lightgray;
}
main footer{
    grid-area: d;
}

#info{
    grid-area: d;
    text-align: center;
    font-size:10px;
    font-family: Arial, Helvetica, sans-serif;
    color:lightgray;
}
#todo{
    list-style-type:none;
    padding: 0px;
    display:block;
}
a{
    color:lightgray;
}


main footer ul li button{
    background:transparent;
    border:none;
    font-size: 15px;
    color: rgb(156, 154, 154);
    margin-top: 1px;
}
main footer ul li button:hover{
    border: 1px solid rgba(175, 47, 47, 0.15);

}
#all{
    margin-left:95px;
    position:absolute;
}

#clear-completed{
    position:absolute;
    margin-left:340px;

}
#active{
    margin-left:125px;
    position:absolute;
}
#completed{
    margin-left:175px;
    position:absolute;
}
main footer ul li button:hover{
    border: 1px solid rgba(175, 47, 47, 0.15);

}



#inputarea{
    border-bottom: 1px solid lightgray;
    height:50px;

    
}
#todo li{
    border-bottom: 1.2px solid rgba(161, 155, 155, 0.15);
    font-size: large;
    height:50px;
}

#todo{
    font-size: 0;
}
#input{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    font-style: italic;
    color:black;
}

main footer ul{
    font-size: 0;
    list-style-type:none;
    display:flex;
    justify-content: left;
    padding: 7px;
}
main footer ul li{
    font-size: small;
    box-sizing:border-box;
}
#destroy{  
    margin-left:400px;
}

li:hover{
    border: 1px lightgray;
}
#count{
    font-size: 16px;

    color: rgb(156, 154, 154);
}
apa