h1{
    font-family: Arial;
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-weight: normal;
    text-align: center;
    grid-area: a;
    
}
body{
    display: grid;
    grid-template:
    "a"
    "b"
    "c"
    "d";
    justify-content: center;
    background: #f5f5f5;
    color: #4d4d4d;
    
}

header{

    grid-area: b;
    margin: auto;
    width: 100%;
    
}
main{
    margin: auto;
    width: 100%;
    border: 1px;
    box-shadow: 7px 10px 100px 5px lightgray;
    grid-area: c;
    border: 1px solid lightgray;
}
main footer{
    grid-area: d;
}

#filter{
    list-style-type:none;
    display:flex;
    justify-content: left;
}

#info{
    grid-area: d;
}
#todo{
    list-style-type:none;
    padding: 0px;
    display:block;
}

button{
    background:transparent;
    border:solid transparent;
}

#inputarea{
    border-bottom: 1px solid lightgray;
}
#todo li{
    border-bottom: 1.2px solid rgba(161, 155, 155, 0.15);
    font-size: large;
    
}

#todo{
    font-size: 0;
}
#input{
    border: none;
    background-color: transparent;
    outline: none;
}

#destroy{
    justify-content: right;
}
main footer ul{
    font-size: 0;
}
main footer ul li{
    font-size: medium;
    padding: 0px;
}
